<head th:insert="layout/layoutx :: head" />

<th:block th:replace="layout/layoutx :: content01" />




<div class="row">
	<!-- <div class="col-md-2">
	</div> -->
	<div class="container-fluid">

		<div class="card">
			<h5 class="card-header" th:text="${cabecera}"></h5>
			<div class="card-body">

				<div class="row">



					<div class="col-md-3">
						<div class="card">
							<div class="card-header">Opciones</div>
							<div class="card-body">
								<ol class="dd-list">

									<li class="dd-item" data-id="1">
										<div class="dd-handle" style="color: black;">
											<i class="fa fa-users"
												style="font-size: 20px; padding-right: 8px;"></i>Usuarios
										</div>
									</li>


									<!-- 									<li class="dd-item" data-id="2"> -->
									<!-- 										<div class="dd-handle">Item 2</div> -->
									<!-- 										<ol class="dd-list"> -->

									<!-- 											<li class="dd-item" data-id="3"> -->
									<!-- 												<div class="dd-handle"> -->
									<!-- 													<i class="fa fa-cogs"></i>Item 3 -->
									<!-- 												</div> -->
									<!-- 											</li> -->
									<!-- 											<li class="dd-item" data-id="4"> -->
									<!-- 												<div class="dd-handle">Item 4</div> -->
									<!-- 											</li> -->
									<!-- 											<li class="dd-item" data-id="5"> -->
									<!-- 												<div class="dd-handle">Item 5</div> -->
									<!-- 												<ol class="dd-list"> -->
									<!-- 													<li class="dd-item" data-id="6"> -->
									<!-- 														<div class="dd-handle">Item 6</div> -->
									<!-- 													</li> -->
									<!-- 													<li class="dd-item" data-id="7"> -->
									<!-- 														<div class="dd-handle">Item 7</div> -->
									<!-- 													</li> -->
									<!-- 													<li class="dd-item" data-id="8"> -->
									<!-- 														<div class="dd-handle">Item 8</div> -->
									<!-- 													</li> -->
									<!-- 												</ol> -->
									<!-- 											</li> -->
									<!-- 											<li class="dd-item" data-id="9"> -->
									<!-- 												<div class="dd-handle">Item 9</div> -->
									<!-- 											</li> -->
									<!-- 											<li class="dd-item" data-id="10"> -->
									<!-- 												<div class="dd-handle">Item 10</div> -->
									<!-- 											</li> -->
									<!-- 										</ol> -->
									<!-- 									</li> -->




								</ol>
							</div>
						</div>
























					</div>

					<div class="col-md-9">
						<div id="sections_content">

							<div class="card border-dark mb-4">
								<div class="card-header">Users</div>
								<div class="card-body text-dark">

									<p class="card-text"></p>
									<div class="row">
										<div class="col-md-4">
											<h5 class="card-title">Form</h5>

											<form>
												<div class="form-group">
													<label for="exampleFormControlInput1">Nombres</label> <input
														type="email" class="form-control"
														id="exampleFormControlInput1" placeholder="nombre">
												</div>

												<div class="form-group">
													<label for="exampleFormControlInput1">Apellidos</label> <input
														type="email" class="form-control"
														id="exampleFormControlInput1" placeholder="Apellidos">
												</div>

												<div class="form-row">
													<div class="form-group col-md-6">
														<label for="inputEmail4">Usuario</label> <input
															type="text" class="form-control" id="inputEmail4"
															placeholder="Nombre">
													</div>
													<div class="form-group col-md-6">
														<label for="inputEmail4">Password</label> <input
															type="password" class="form-control" id="inputEmail4"
															placeholder="password">
													</div>
												</div>

												<div class="form-row">
													<div class="form-group col-md-6">
														<label for="inputEmail4">Matricula</label> <input
															type="text" class="form-control" id="inputEmail4"
															placeholder="Matricula">
													</div>

													<div class="form-group col-md-6">
														<label for="exampleFormControlSelect2">Rol de usuario</label> <select
															class="custom-select">
															<option selected>Open this select menu</option>
															<option value="1">One</option>
															<option value="2">Two</option>
															<option value="3">Three</option>
														</select>
													</div>



												</div>

												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input"
															id="customCheck1"> <label
															class="custom-control-label" for="customCheck1">Habilitar
															Usuario</label>
													</div>
												</div>



												<!-- 												<div class="form-group"> -->
												<!-- 													<label for="exampleFormControlSelect1">Example -->
												<!-- 														select</label> <select class="form-control" -->
												<!-- 														id="exampleFormControlSelect1"> -->
												<!-- 														<option>1</option> -->
												<!-- 														<option>2</option> -->
												<!-- 														<option>3</option> -->
												<!-- 														<option>4</option> -->
												<!-- 														<option>5</option> -->
												<!-- 													</select> -->
												<!-- 												</div> -->




												<!-- 												<div class="form-group"> -->
												<!-- 													<label for="exampleFormControlSelect2">Example -->
												<!-- 														multiple select</label> <select multiple class="form-control" -->
												<!-- 														id="exampleFormControlSelect2"> -->
												<!-- 														<option>1</option> -->
												<!-- 														<option>2</option> -->
												<!-- 														<option>3</option> -->
												<!-- 														<option>4</option> -->
												<!-- 														<option>5</option> -->
												<!-- 													</select> -->
												<!-- 												</div> -->



												<!-- 												<div class="form-group"> -->
												<!-- 													<label for="exampleFormControlTextarea1">Example -->
												<!-- 														textarea</label> -->
												<!-- 													<textarea class="form-control" -->
												<!-- 														id="exampleFormControlTextarea1" rows="3"></textarea> -->
												<!-- 												</div> -->





											</form>


										</div>
										<div class="col-md-8">
											<div class="card">
												<div class="card-body">
													<h5 class="card-title">Special title treatment</h5>
													<p class="card-text">With supporting text below as a
														natural lead-in to additional content.</p>



													<!-- 													<a href="#" class="btn btn-primary" style="margin-bottom:">Go somewhere</a> -->



													<table class="table table-sm table-dark">
														<thead>
															<tr>
																<th scope="col">#</th>
																<th scope="col">First</th>
																<th scope="col">Last</th>
																<th scope="col">Handle</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<th scope="row">1</th>
																<td>Mark</td>
																<td>Otto</td>
																<td>@mdo</td>
															</tr>
															<tr>
																<th scope="row">2</th>
																<td>Jacob</td>
																<td>Thornton</td>
																<td>@fat</td>
															</tr>
															<tr>
																<th scope="row">3</th>
																<td colspan="2">Larry the Bird</td>
																<td>@twitter</td>
															</tr>
														</tbody>
													</table>



												</div>
											</div>
										</div>


									</div>

								</div>
							</div>


						</div>
					</div>
				</div>


				<!-- <h5 class="card-title">Special title treatment</h5> -->
				<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
				<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
			</div>
		</div>


	</div>
	<!-- <div class="col-md-2">
	</div> -->
</div>


<!-- End Container fluid  -->




<th:block th:replace="layout/layoutx :: content02" />
