



<div th:if="${detalleValidacion.TotalElements!=0}">
	<nav th:replace="layout/fragments/paginator-nav :: paginator"></nav>
</div>


<div class="list-group">
	<div th:each="detalle : ${detalleValidacion}" href="#" title="Detalle"
		th:attr="data-content=${detalle.idvalidacion.detalle}"
		data-html="true" role="button" data-toggle="popover"
		data-trigger="hover"
		th:class="${detalle.idvalidacion.estado? 'list-group-item list-group-item-action flex-column align-items-start': 'list-group-item list-group-item-action flex-column align-items-start disabledbutton'}">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1" th:text="${detalle.idvalidacion.idrevisionValidacion+'. '+detalle.idvalidacion.revision}"></h5>
			<small>Fecha de modificacion <label
				th:text="${detalle.fechaModificacion}"></label>
				<button
					th:onclick="'fnDisabledSection(\'' + ${detalle.idvalidacion.idrevisionValidacion} + '\');'">
					<i class='fa fa-trash-o' style='font-size: 24px; color: brown;'
						aria-hidden='true'></i>Eliminar
				</button> <a
				th:onclick="'fnLoadSection(\'' + ${detalle.idvalidacion.idrevisionValidacion} + '\');'">
					<i class='fa fa-eye' style='font-size: 24px; color: brown;'
					aria-hidden='true'></i>Ver
			</a>
			</small>


		</div>

		<small>Modificado por <cite title="Source Title"
			th:text="${detalle.idusuario.nombres}"></cite></small>
	</div>
</div>
<script>
	$(document).ready(

	function() {
		$('[data-toggle="popover"]').popover({
			trigger : "manual",
			html : true,
			animation : false
		}).on("mouseenter", function() {
			var _this = this;
			$(this).popover("show");
			$(".popover").on("mouseleave", function() {
				$(_this).popover('hide');
			});
		}).on("mouseleave", function() {
			var _this = this;
			setTimeout(function() {
				if (!$(".popover:hover").length) {
					$(_this).popover("hide");
				}
			}, 100);
		});
	});
</script>