



<div th:if="${detalleValidacion.TotalElements!=0}">
	<nav th:replace="layout/fragments/paginator-nav :: paginator"></nav>
</div>


<div
	th:class="${detalle.idvalidacion.estado? 'list-group-item list-group-item-action flex-column align-items-start': 'list-group-item list-group-item-action flex-column align-items-start disabledbutton'}"
	th:each="detalle : ${detalleValidacion}"
	style="border-radius: 0 0 0 0;">
	<div class="card-body">
		<h5 class="card-title"
			th:text="${detalle.idvalidacion.idrevisionValidacion+'. '+detalle.idvalidacion.revision}"></h5>
		<h6 class="card-subtitle mb-2 text-muted">
			Fecha de modificacion <label th:text="${detalle.fechaModificacion}"></label>
			/ Modificado por <cite title="Source Title"
				th:text="${detalle.idusuario.nombres}"></cite>
		</h6>
		<!-- 					<p class="card-text">Some quick example text to build on the -->
		<!-- 						card title and make up the bulk of the card's content.</p> -->
		<a class="card-link"
			th:onclick="'fnDisabledSection(\'' + ${detalle.idvalidacion.idrevisionValidacion} + '\');'">
			<i class='fa fa-trash-o' style='font-size: 24px; color: brown;'
			aria-hidden='true'></i> Desactivar
		</a> <a class="card-link"
			th:onclick="'fnLoadSection(\'' + ${detalle.idvalidacion.idrevisionValidacion} + '\');'">
			<i class='fa fa-eye' style='font-size: 24px; color: brown;'
			aria-hidden='true'></i> Ver
		</a>
		<select>
			<option>asdas</option>
			<option>asdas</option>
			<option>asdas</option>
		</select>
	</div>
</div>
<script>
	$(document).ready(

	function() {
		$('[data-toggle="popover"]').popover({
			trigger : "manual",
			html : true,
			animation : false
		}).on("mouseenter", function() {
			var _this = this;
			$(this).popover("show");
			$(".popover").on("mouseleave", function() {
				$(_this).popover('hide');
			});
		}).on("mouseleave", function() {
			var _this = this;
			setTimeout(function() {
				if (!$(".popover:hover").length) {
					$(_this).popover("hide");
				}
			}, 100);
		});
	});
</script>